#**TASK 2**

**Q1: List Comprehensions:**
Let's learn about list comprehensions! You are given three integers X, Y and Z representing the dimensions of a cuboid 
along with an integer N. You have to print a list of all possible coordinates given by (i, j, k) on a 3D grid where the sum of i + j + k  is not 
equal to N. Here, 0 <= i <= X; 0 <= j <= Y; 0 <= k <= Z

In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
    x1 = [p for p in range(x+1)]
    y1 = [q for q in range(y+1)]
    z1 = [r for r in range(z+1)]
    
    permutations = [[i, j, k] for i in x1 for j in y1 for k in z1 if i + j + k != n]
    print(permutations)

2
1
3
2
[[0, 0, 0], [0, 0, 1], [0, 0, 3], [0, 1, 0], [0, 1, 2], [0, 1, 3], [1, 0, 0], [1, 0, 2], [1, 0, 3], [1, 1, 1], [1, 1, 2], [1, 1, 3], [2, 0, 1], [2, 0, 2], [2, 0, 3], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 1, 3]]

**Q2 :Find the runner-up score:** Given the participants' score sheet for your  University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [ ]:
if __name__ == '__main__':
    n = int(input("Enter number of elements you want in array : "))
    arr = list(map(int, input("Enter the elements:").split()))
    #Set - prints unique values from list
    new_arr=set(arr)
    sort_arr=sorted(new_arr)
    print("Sorted List : ",sort_arr)
    print("Runner-up Score : ",sort_arr[-2])

Enter number of elements you want in array : 6
Enter the elements:10 5 3 8 2 5
Sorted List :  [2, 3, 5, 8, 10]
Runner-up Score :  8

**Q4: Finding Percentage:** The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [ ]:
if __name__ == '__main__':
    n = int(input("Enter the number of students record you want : "))
    student_marks = {}
    for _ in range(n):
        name, *line = input("Enter Name of student and Marks obtained : ").split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input("Enter the name of a student to query :")
    
    scoresForName = student_marks[query_name]
    # Calculates the average
    average = sum(scoresForName) / len(scoresForName)
    # Prints the average with 2 decimal places.
    print( "%.2f" % average )

Enter the number of students record you want : 3
Enter Name of student and Marks obtained : Kish 91 65 78
Enter Name of student and Marks obtained : Vaishnavi 89 67 70
Enter Name of student and Marks obtained : Ishan 68 74 56
Enter the name of a student to query :Ishan
66.00

**Q5:Lists:**
The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. 
Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [ ]:
if __name__ == '__main__':
    N = int(input())
    
    #Initializes the list.
    list = []
    
    # Loop will run for the number of commands entered.
    for i in range(N):
        # Reads the line from input and splits it by spaces.
        c = input().split()
        # If the command was insert then the number is inserted in the proper position.
        if c[0] == "insert" :
            list.insert( int(c[1]), int(c[2]) )
        # Prints the list.
        elif c[0] == "print":
            print(list)
        # Deletes the first occurrence of the integer passed on the parameter.
        elif c[0] == "remove":
            list.remove(int(c[1]))
        # Inserts the integer at the end of the list.
        elif c[0] == "append":
            list.append(int(c[1]))
        # Sorts the list
        elif c[0] == "sort":
            list.sort()
            print(list)
        # Removes the last element of the list
        elif c[0] == "pop":
            list.pop()
            print(list)
        # Reverses the list.
        elif c[0] == "reverse":
            list.reverse()  
            print(list)

12
insert 10 6
insert 2 5
insert 9 7
insert  1 3
print
[6, 3, 5, 7]
remove 6
append 9
append 1
print
[3, 5, 7, 9, 1]
sort
[1, 3, 5, 7, 9]
pop
[1, 3, 5, 7]
reverse
[7, 5, 3, 1]

**Q6 : Tuples:** Given an integer, n, and n space-separated integers as input, create a tuple, t, of those n integers.Then compute and print the result of hash(t).
Note: hash() is one of the functions in the __builtins__ module, so it need not be imported.

In [ ]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int,input().split())

    # The tuple() function converts a list to a tuple.
    tup = tuple(integer_list)
            
    # Prints the result of the hash function with parameter t.
    print( hash(tup) )

2
1 3
3713081631933328131

**Q7: Intro to sets:**
Now, let's use our knowledge of sets and help Mickey.Ms. Gabriel Williams is a botany professor at District College. 
One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.
Formula used: AVG = Sum of distinct heights / Total number of distinct heights 
Complete the average function in the editor below.
Average has the following parameters:int arr: an array of integers

In [ ]:
def average(array):
    #Make set i.e take out distinct values and then calculate summation and length/total of set
    sum_array = sum(set(array))
    len_array = len(set(array))
    #Take Average
    Avg = sum_array/len_array
    return Avg;
if __name__ == '__main__':
    n = int(input("Enter the number of elements you want in an array: "))
    height_of_plants = list(map(int, input("Enter the elements :").split()))
    result = average(height_of_plants)
print(result)

Enter the number of elements you want in an array: 10
Enter the elements :12 6 9 2 5 3 10 15 7 4
7.3

**Q8: No Idea !**
There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. 
You like all the integers in set A and dislike all the integers in set B. Your initial happiness is 0. 
For each i integer in the array, if i is in A, you add 1 to your happiness. If i is in B, you add -1 to your happiness. 
Otherwise, your happiness does not change. Output your final happiness at the end.

In [ ]:
#m = "array max lenght >"
#n = "number of elemets in sets"
n,m = list(map(int,input().split()))
happiness = 0

arr = list(map(int,input("Enter elements in array").strip().split()))
A = set(map(int,input("Enter elements in Set A: ").strip().split()))
B = set(map(int,input("Enter elements in Set B: ").strip().split()))

for i in arr:
    if i in A:
        happiness += 1
    elif i in B:
        happiness -= 1
print("Your Total happiness: ",happiness)

2 3
Enter elements in array 2 9 11 6
Enter elements in Set A: 8 9 3
Enter elements in Set B: 2 11 8
Your Total happiness:  -1

**Q9: Symmetric Difference:**Given 2 sets of integers, M and N, print their symmetric difference in ascending order. The term symmetric difference indicates those
values that exist in either M or N but do not exist in both.
"The term symmetric difference indicates those values that exist in either MM or NN but do not exist in both."

In [ ]:
num1 = int(input("Size of set1: "))
set1 = set(map(int,input("Enter elements :").split()))
num2 = int(input("Size of set2: "))
set2 = set(map(int,input("Enter elements :").split()))
symmetric_diff = (set1.difference(set2)).union(set2.difference(set1))
for i in sorted(list(symmetric_diff)):
        print(i)

Size of set1: 5
Enter elements :11 6 8 2 5
Size of set2: 5
Enter elements :11 3 6 7 1
1
2
3
5
7
8

**Q.10: Set.add():**
Apply your knowledge of the .add() operation to help your friend Rupal.
Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She
asked for your help. You pick the stamps one by one from a stack of N country stamps.Find the total number of distinct country stamps.

In [ ]:
num_stamp = int(input("Enter the total number of country stamps: "))
country_name = set()
for i in range(num_stamp):
    country_name.add(input("Enter the name of the country where the stamp is from :"))
print("Total number of distinct country stamps are: ",len(country_name))

Enter the total number of country stamps: 6
Enter the name of the country where the stamp is from :India
Enter the name of the country where the stamp is from :UAE
Enter the name of the country where the stamp is from :Finland
Enter the name of the country where the stamp is from :Us
Enter the name of the country where the stamp is from :India
Enter the name of the country where the stamp is from :Japan
Total number of distinct country stamps are:  5

**Q11: Set .discard(), .remove() & .pop()** : You have a non-empty set s, and you have to execute N commands given in N lines.

The commands will be pop, remove and discard.

In [ ]:
n = int(input("Number of elements you want in the set :"))
s = set(map(int, input("Enter the elements: ").split()))
Num = int(input("Number of operations you want to perform on set :"))
for _ in range(Num): 
  a = input().split("Enter the command : ")
  if a[0]=='pop':
     s.pop()
  elif a[0]=='discard':
     s.discard(int(a[1]))
  elif a[0]=='remove':
     s.remove(int(a[1]))
print(sum(s))

Number of elements you want in the set :6
Enter the elements: 1 2 3 4 5 6
Number of operations you want to perform on set :10
pop
remove 4
discard 4
remove 3
pop
remove 6
discard 6
pop
discard 2

15

**Q.12 Set .union() Operation:**
The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to at least one newspaper.

In [ ]:
S1 = int(input("Total number of students who have subscribed to the English newspaper: "))
Eng = set(input("Enter roll numbers of those students: ").split())
S2= int(input("Total number of students who have subscribed to the French newspaper: "))
French = set(input("Enter roll numbers of those students:").split())
sol= Eng.union(French)
print("Union: ",sol)
print(len(sol))

Total number of students who have subscribed to the English newspaper: 6
Enter roll numbers of those students: 1 3 5 7 9 11
Total number of students who have subscribed to the French newspaper: 7
Enter roll numbers of those students:2 4 5 6 7 8 9
Union:  {'5', '7', '4', '2', '1', '6', '3', '9', '11', '8'}
10

**Q.13 : Set .intersection() Operation**
The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed only to French, and some have subscribed to both newspapers.You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers.

In [ ]:
S1 = input("Total number of students who have subscribed to the English newspaper: ")
Eng = set(input("Enter roll numbers of those students: ").split())
S2= input("Total number of students who have subscribed to the French newspaper: ")
French = set(input("Enter roll numbers of those students:").split())
sol= Eng.intersection(French)
print("Intersection: ",sol)
print(len(sol))

Total number of students who have subscribed to the English newspaper: 5
Enter roll numbers of those students: 1 3 5 7 9
Total number of students who have subscribed to the French newspaper: 6
Enter roll numbers of those students:2 3 4 5 6 7
Intersection:  {'3', '5', '7'}
3

**Q.14 : Set .difference() Operation**
Students of District College have a subscription to English and French newspapers. Some students have subscribed to only the English newspaper, some have subscribed to only the French newspaper, and some have subscribed to both newspapers.You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to only English newspapers.

In [ ]:
S1 = input("Total number of students who have subscribed to the English newspaper: ")
Eng = set(input("Enter roll numbers of those students: ").split())
S2= input("Total number of students who have subscribed to the French newspaper: ")
French = set(input("Enter roll numbers of those students:").split())
sol= Eng.difference(French)
print("Difference: ",sol)
print(len(sol))

Total number of students who have subscribed to the English newspaper: 6
Enter roll numbers of those students: 10 12 14 16 18 20
Total number of students who have subscribed to the French newspaper: 6
Enter roll numbers of those students:5 10 15 20 25 30
Difference:  {'12', '14', '18', '16'}
4

**Q.15 :Set .symmetric_difference() Operation:** Students of District College have subscriptions to English and French newspapers. Some students have subscribed to English only, some have subscribed to French only, and some have subscribed to both newspapers.You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both.

In [ ]:
S1 = input("Total number of students who have subscribed to the English newspaper: ")
Eng = set(input("Enter roll numbers of those students: ").split())
S2= input("Total number of students who have subscribed to the French newspaper: ")
French = set(input("Enter roll numbers of those students:").split())
sol= Eng.symmetric_difference(French)
print("Symmetric_difference: ",sol)
print(len(sol))

Total number of students who have subscribed to the English newspaper: 6
Enter roll numbers of those students: 1 2 3 4 5 6
Total number of students who have subscribed to the French newspaper: 6
Enter roll numbers of those students: 4 5 6 7 8 9
Symmetric_difference:  {'7', '2', '1', '9', '3', '8'}
6

**Q16. Set Mutations:** You are given a set A and N number of other sets. These N number of sets have to perform some specific mutation operations on set A.Your task is to execute those operations and print the sum of elements from set A .

In [ ]:
n = int(input("Number of elements you want in the set :"))
s = set(map(int, input("Enter the elements: ").split()))
Num = int(input("Number of operations you want to perform on set :"))

for i in range(Num):
	k = input("Enter the commands: ").split()
	s2 = set(map(int,input().split()))
	if k[0] == 'update':
		s.update(s2)
	elif k[0] == 'intersection_update':
		s.intersection_update(s2)
	elif k[0] == 'difference_update':
		s.difference_update(s2)
	elif k[0] == 'symmetric_difference_update':
		s.symmetric_difference_update(s2)
	else:
		print("Invalid parameters !! ")
print(sum(s))

Number of elements you want in the set :10
Enter the elements: 1 2 3 4 5 6 7 8 9 10
Number of operations you want to perform on set :4
Enter the commands: intersection_update 6
2 3 5 6 8 9 1 4 7 11
Enter the commands: update 3
55 65
Enter the commands: symmetric_difference_update 8
22 7 35 62 58
Enter the commands: difference_update 7
11 22 35 55 58 62 66
103

**Q.17: The Captain's Room**
Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.
One fine day, a finite number of tourists come to stay at the hotel.
The tourists consist of:
→ A Captain.
→ An unknown group of families consisting of K members per group where K ≠ 1.
The Captain was given a separate room, and the rest were given one room per group.Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear K times per group except for the Captain's room.Mr. Anant needs you to help him find the Captain's room number.The total number of tourists or the total number of groups of families is not known to you.
You only know the value of K and the room number list.

In [3]:
k=input("Enter the size of each group: ");  #get rid of first line 
rooms=input().split();  #store all to array
s1=set();  #all unique room number
s2=set();  #all unique room number occur more than once
for i in rooms:
    if  i not in s1:
      s1.add(i)
      s2.add(i)
    else:
      s2.discard(i)
        
captain_room=s2.pop()
print(captain_room)

Enter the size of each group: 5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 12 4 3 1 5 6 2
12

**Q.18: Check Subset**
You are given two sets, A and B. Your job is to find whether set A is a subset of set B.
If set A is subset of set B, print True.
If set A is not a subset of set B , print False.

In [5]:
Task = int(input("Enter the number of test cases: "))

for _ in range(Task):
    a = input("Enter number of elements in set A: ")
    A = set(input("Enter the elements : ").split())
    b = int(input("Enter number of elements in set B: "))
    B = set(input("Enter the elements :").split())
    print(A.issubset(B))

Enter the number of test cases: 3
Enter number of elements in set A: 5
Enter the elements : 1 2 3 4 5
Enter number of elements in set B: 9
Enter the elements :1 3 5 7 9 2 4 6 8
True
Enter number of elements in set A: 5
Enter the elements : 11 22 33 44 55
Enter number of elements in set B: 10
Enter the elements :10 20 30 40 50 55 60 70 80 90
False
Enter number of elements in set A: 3
Enter the elements : 100 200 300
Enter number of elements in set B: 6
Enter the elements :100 105 200 205 210
False

**Q.19: Check Strict Superset**
You are given a set A  and  other n sets.
Your job is to find whether set A is a strict superset of each of the N sets.
Print True, if A is a strict superset of each of the N sets. Otherwise, print False.
A strict superset has at least one element that does not exist in its subset.

In [7]:
super_set=set(map(int,input("Enter space seperated elements in set A : ").split()))
n=int(input("Number of sets: "))
output=True

for i in range(n):
    normal_set=set(map(int,input("Enter space seperated elements in other sets: ").split()))
    if len(super_set)>len(normal_set):
        if  not super_set.issuperset(normal_set):
            output=False
print(output)

Enter space seperated elements in set A : 1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
Number of sets: 2
Enter space seperated elements in other sets: 1 3
Enter space seperated elements in other sets: 101 201
False